*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #1a1a1a;
    color: white;
    padding-top: 90px;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    background: rgba(20,20,20,0.9);
    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    height: 55px;
}

nav{
    display: flex;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
}

/* BANNER */
.banner{
    height: 100vh;
    position: relative;
    background: url("banner-rrx.png") center/cover;
    overflow: hidden;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

/* ANIMAÇÃO */
.animacao-reciclagem{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* LATA */
.sucata{
    font-size: 55px;
    animation: lata 3s forwards;
}

/* LINHA */
.caminho{
    width: 4px;
    height: 180px;
    margin: 10px auto;
    background: repeating-linear-gradient(
        to bottom,
        white 0 10px,
        transparent 10px 20px
    );
    animation: linha 3s forwards;
}

/* RECICLAGEM */
.reciclagem{
    font-size: 70px;
    opacity: 0;
    animation: aparecer 1.5s forwards;
    animation-delay: 3s;
}

/* TEXTO FINAL */
.animacao-reciclagem h2{
    margin-top: 10px;
    opacity: 0;
    animation: aparecer 2s forwards;
    animation-delay: 4.5s;
}

/* ANIMAÇÕES */
@keyframes lata{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(220px);
        opacity: 0;
    }
}

@keyframes linha{
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}

@keyframes aparecer{
    from{
        opacity: 0;
        transform: scale(0.7);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/* CONTEÚDO */
.conteudo-banner{
    position: relative;
    text-align: center;
    margin-top: 120px;
}

.botao-whatsapp{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 25px;
    background: green;
    border-radius: 30px;
}